.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn:hover {
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    transition: 0.3s;
}

.btn1 {
    border: 1px solid #000000;
    background-image: linear-gradient(to top right, #0da2de 50%, #fff 50%);
}

.btn2 {
    border: 1px solid #000000;
    background-image: linear-gradient(to top right, #f20808 50%, #000000 50%);
}

.btn3 {
    border: 1px solid #ffffff;
    background-image: linear-gradient(to top right, #e121ff 50%, #011c93 50%);
}

.btn4 {
    border: 1px solid #ffffff;
    background-image: linear-gradient(to top right, #38ad54 50%, #fff 50%);
}